.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    background-color: var(--secondary-color);
    margin: 20px 0 0 0;
    justify-content: space-around;
    border: none;
    border-radius: 10px;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: transform 0.5s ease-out;
}